@import url('common.css');

/* Style the main content */
body{
    background-color: var(--light-grey);
}
main {
    margin-top: 100px;
} 
main h1{
    color: #fff;
    font-weight: 500;
    position: relative;
}
main h1::after{
    background: #eee;
    content: '';
    display: block;
    height: 2px;
    margin-top: 25px;
    width: 170px;
}
.robot-intro{
    margin-left: 30px;
    margin-right: 30px;
}
.robot-intro p{
    color: #fff;
    margin-top: 2rem;
}

.robot-info{
    background-color: var(--light-red-grey);
    margin-top: 60px;
    padding: 40px 30px;
    padding-bottom: 80px;

}
.robot-overview{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    gap: 20px;
    margin-top: 60px;
    align-items: center;
}
.robot-pic{
    position: relative;
    max-width: 60%;
    z-index: 30;
}
.robot-pic-overlay{
    background-color: var(--primary-red);
    position: absolute;
    top: 20px;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: width 0.3s ease;
    
}

.image{
    position: relative;
    width: 100%;
    right: 20px;
    height: auto;
    z-index: 20;
    transition: transform 0.3s ease;
}
.robot-pic:hover .image {
    transform: scale(1.1); /* Increase the image size on hover (adjust as needed) */
}

.robot-pic:hover .robot-pic-overlay {
    width: 90%; /* Adjust the overlay width on hover (adjust as needed) */
}
.robot-specs {
    flex: 1;
    display: flex;
    height: fit-content;
    max-width: 40%;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    align-items:start;
}
.robot-awards{
    background-color: var(--light-grey);
    margin-top: 60px;
    padding: 20px 30px;
}
.robot-accolades p{
    margin-top: 2rem;
    color: #fff;
}
 .accordion-slide{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.accordion-button {
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary-red);
    color: #fff;
    border: none;
    border-radius: 2px;
    text-align: left;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.bx{
    font-size: 30px;
    transition: transform 0.4s ease;
} 
.accordion-box{
    width: 100%;
    margin-bottom: 15px;
}
.accordion-box.active .accordion-button .bx{
    transform: rotate(-180deg);
}
.accordion-content {
    display: none;
    background-color: #fff;
    padding: 10px;
    margin: 0;
}
.accordion-content ul{
    list-style: none;
}
.robot-learnmore{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.robot-learnmore button{
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    color: var(--light-red-grey);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid var(--light-grey);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);;
}
.robot-learnmore span{
    color: var(--primary-red);
}
.robot-learnmore button:hover{
     background-color: var(--light-red-grey);
     color: #fff;
     border: 2px solid #fff;
}
.robot-learnmore button:hover span{
    color: #fff
}
/* Style the hardware-software section */
.videos{
    background-color: var(--light-red-grey);
    padding: 30px;
}


/* Style the videos section */
.videos h2 {
    margin-top: 20px;
    color: #333;
    font-size: 24px;
}
.video-wrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
iframe {
    width: 80%;
    height: 400px;
    border: none;
}

@media (max-width: 810px){
    
  .robot-overview{
    flex-direction: column;
    align-items: center ;
  }
  .robot-specs{
    margin-top: 2rem;
    max-width: 80%;
    font-size: 16px;
  }
  
}
@media (max-width: 400px){
    .robot-specs{
        font-size: 12px;
      }
}